html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

  
.container {
    max-width: 600px;
  }
  
  .steps {
    display: flex;
    gap: 8px;
  }
  
  .step-circle {
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border-radius: 50%;
  }
  .step-circle1 {
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
  }
  
  .upload-box {
    width: 100%;
    text-align: center;
  }
  
  .main-photo-upload {
    width: 100%;
    height: 300px; /* Boyutu büyütmek için artırıldı */
    border: 2px dashed #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;  /* Elemanları dikey hizalar */
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
  }
  
  .text-muted {
    font-size: 14px;                    /* Küçük yazı boyutu */
  }
  
  .photo-slot {
    width: 100%;
    height: 80px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; /* Simge boyutu */
    color: #ccc;     /* Simge rengi */
  }
  .custom-upload-btn {
   
    background-color: #ff69b4;/* İçini transparan yapar */
    border: 2px solid #ff69b4;          /* Pembe border */

    color: #fff;                    /* Pembe metin rengi */
    margin-top: 10px;
  }
  
  .custom-upload-btn:hover {
    background-color: transparent;        /* Hover sırasında içini pembe yapar */
    color: #ff69b4;
    border:  2px solid #ff69b4;                       /* Hover sırasında metni beyaz yapar */
  }
  /* Geri Tuşu */
.back-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #333;
}

/* Logo */
.logo {
  height: 40px; /* Logo boyutunu ayarlamak için */
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Üst içerikten ayrılması için */
}
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #555;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.category-name {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}